<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="admin/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<section>
    <div class="container-fluid mt-15">
        <div class="page-inner no-page-title">
            <!-- start page main wrapper -->
            <div id="main-wrapper">
                <div class="row">
                    <!-- Blog -->
                    <div class="col-md-4">
                        <div class="card">
                            <div class="body search">
                                <form action="">
                                    <div class="input-group m-b-0">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-search"></i></span>
                                        </div>
                                        <input th:value="${keyword}" name="keyword" required="required" type="search" class="form-control" placeholder="Search...">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="card card-white grid-margin">
                            <div class="card-heading clearfix text-center">
                                <h4 class="card-title">Create Blog</h4>
                                <form th:action="@{/admin/process-blog}" th:object="${blog}" method="post" >
                                    <!-- Title -->
                                    <div class="input-group mt-3">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fa fa-heading"></i>
                                            </div>
                                        </div>
                                        <input required type="text" id="title" name="title"
                                               placeholder="Enter title Here" class="form-control" />
                                    </div>
                                    <!-- Blog description -->
                                    <div class="form-group mt-3">
									<textarea name="description" id="mytextarea"
                                              class="form-control editor" rows="10"
                                              placeholder="Enter Description here.."></textarea>
                                    </div>
                                    <!-- Blog symptoms -->
                                    <div class="form-group mt-3">
									<textarea name="symptoms" id="symptoms"
                                              class="form-control editor" rows="10"
                                              placeholder="Enter Symptoms here.."></textarea>
                                    </div>
                                    <!-- Solution -->
                                    <div class="form-group mt-3">
									<textarea name="solution" id="solution"
                                              class="form-control editor" rows="10"
                                              placeholder="Enter Solution here.."></textarea>
                                    </div>
                                    <!-- Type -->
                                    <div class="input-group mt-3">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fa fa-align-left"></i>
                                            </div>
                                        </div>
                                        <input required type="text" id="type" name="type"
                                               placeholder="Enter type Here" class="form-control" />
                                    </div>

                                    <!-- Video Link -->
                                    <div class="input-group mt-3">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fa fa-link"></i>
                                            </div>
                                        </div>
                                        <input required type="url" id="videoLink" name="videoLink"
                                               placeholder="Enter Link Here" class="form-control" />
                                    </div>

                                    <!-- Button -->
                                    <div class="d-grid gap-2 mt-3">
                                        <button class="btn bg-primary text-white text-uppercase"
                                                type="submit">Add</button>
                                        <button class="btn btn-warning text-white text-uppercase"
                                                type="reset">Reset</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="card card-white grid-margin">
                            <div class="card-heading clearfix">
                                <h4 class="card-title">Some Info</h4>
                            </div>
                            <div class="card-body">
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis architecto.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="main-box no-header clearfix">
                            <div class="main-box-body clearfix">
                                <div class="table-responsive">
                                    <table class="table user-list">
                                        <thead>
                                        <tr>
                                            <th><span>Title</span></th>
                                            <th class="text-center"><span>Type</span></th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="b :${blogs}">
                                            <td>
                                                <span th:text="${b.title}" class="label label-default">pending</span>
                                            </td>
                                            <td class="text-center">
                                                <span th:text="${b.type}" class="label label-default">pending</span>
                                            </td>
                                            <td style="width: 20%;">
                                                <a href="#" class="table-link text-warning">
                                                        <span class="fa-stack">
                                                            <i class="fa fa-square fa-stack-2x"></i>
                                                            <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                </a>
                                                <a th:href="@{'/admin/update-blog/'+${b.id}}" class="table-link text-info">
                                                    <span class="fa-stack">
                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                </a>
                                                <a th:href="@{'/admin/delete-blog/'+${b.id}}" class="table-link danger">
                                                    <span class="fa-stack">
                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                        <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                </a>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- Pagination -->
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li th:if="${currentPage != 0}" class="page-item">
                                    <a class="page-link" th:href="@{'/admin/blog/'+${currentPage - 1}}" href="#">Previous</a>
                                </li>

                                <li th:classappend="${currentPage== i - 1?'active':''}"
                                    th:each="i :${#numbers.sequence(1,totalPage)}" class="page-item">
                                    <a class="page-link" th:href="@{'/admin/blog/'+${i - 1}}" href="#">
                                        <span th:text="${i}"></span>
                                    </a>
                                </li>

                                <li th:if="${currentPage+1 != totalPage}" class="page-item">
                                    <a class="page-link" th:href="@{'/admin/blog/'+${currentPage + 1}}" href="#">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- Row -->
            </div>
        </div>
    </div>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '.editor'
        });
    </script>
    <script>
        $(document).ready(() => {
            $('.nav__link').removeClass('active');
            $('#blog').addClass('active');
        });
    </script>
</section>
</body>
</html>