<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="admin/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Hospital</title>
</head>
<body>
<section>
    <div class="container bootstrap snippets bootdey mt-5">
        <div class="row ng-scope">
            <div class="col-md-4 mt-3">
                <div class="card card-white grid-margin">
                    <div class="card-heading clearfix text-center">
                        <div>
                            <h1 style="color: deeppink"><i class="fa fa-adn"></i></h1>
                            <h5 th:text="${hospital.name}"></h5>
                        </div>
                        <hr>
                        <div class="mt-2">
                            <h1 style="color: deeppink"><i class="fas fa-file-medical-alt"></i></h1>
                            <p th:utext="${hospital.description}"></p>
                        </div>
                        <!-- User Information Table -->
                        <div class="table-responsive mt-5">
                            <table class="table table-user-information">
                                <tbody>
                                <tr>
                                    <td>
                                        <strong><span class="glyphicon glyphicon-asterisk text-primary"></span>Email</strong>
                                    </td>
                                    <td th:text="${hospital.email}" class="text-primary"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong><span class="glyphicon glyphicon-user  text-primary"></span>Phone</strong>
                                    </td>
                                    <td th:text="${hospital.phone}" class="text-primary"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong><span class="glyphicon glyphicon-user  text-primary"></span>Division</strong>
                                    </td>
                                    <td th:text="${hospital.division}" class="text-primary"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong><span class="glyphicon glyphicon-cloud text-primary"></span>Zilla</strong>
                                    </td>
                                    <td th:text="${hospital.zilla}" class="text-primary"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong><span class="glyphicon glyphicon-bookmark text-primary"></span>Thana</strong>
                                    </td>
                                    <td th:text="${hospital.thana}" class="text-primary"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong><span class="glyphicon glyphicon-bookmark text-primary"></span>Location</strong>
                                    </td>
                                    <td th:text="${hospital.google_location}" class="text-primary"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- End User Information Table -->
                    </div>
                </div>
            </div>
            <div class="col-md-8 mt-3">
                <div class="card card-white grid-margin">
                    <div class="card-heading clearfix text-center">
                        <h4 class="card-title">Update Hospital</h4>
                        <form th:action="@{/admin/update-hospital/{id}(id=${hospital.id})}" th:object="${hospital}" method="post" enctype="multipart/form-data">
                            <!-- name -->
                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa fa-adn"></i>
                                    </div>
                                </div>
                                <input th:field="*{name}" required type="text" id="name" name="name"
                                        placeholder="Enter name here" class="form-control" />
                            </div>
                            <!-- phone -->
                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                </div>
                                <input th:field="*{phone}" required type="text" id="phone" name="phone"
                                       placeholder="Enter phone number Here" class="form-control" />
                            </div>
                            <!-- Email -->
                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa fa-envelope"></i>
                                    </div>
                                </div>
                                <input th:field="*{email}" required type="email" id="email" name="email"
                                       placeholder="Enter email Here" class="form-control" />
                            </div>
                            <!-- google map -->
                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa fa-location-arrow"></i>
                                    </div>
                                </div>
                                <input th:field="*{google_location}" required type="url" id="google_location" name="google_location"
                                       placeholder="Enter google location Here" class="form-control" />
                            </div>
                            <!-- Division -->
                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa fa-address-book"></i>
                                    </div>
                                </div>
                                <input th:field="*{division}" required type="text" id="division" name="division"
                                       placeholder="Enter division Here" class="form-control" />
                            </div>
                            <!-- Zilla -->
                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa fa-address-book"></i>
                                    </div>
                                </div>
                                <input th:field="*{zilla}" required type="text" id="zilla" name="zilla"
                                       placeholder="Enter zilla Here" class="form-control" />
                            </div>
                            <!-- thana -->
                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa fa-address-book"></i>
                                    </div>
                                </div>
                                <input th:field="*{thana}" required type="text" id="thana" name="thana"
                                       placeholder="Enter thana Here" class="form-control" />
                            </div>
                            <!-- User description -->
                            <div class="form-group mt-3">
									<textarea th:field="*{description}" name="description" id="mytextarea"
                                              class="form-control" rows="10"
                                              placeholder="Enter Description here.."></textarea>
                            </div>
                            <!-- Button -->
                            <div class="d-grid gap-2 mt-3">
                                <button class="btn bg-primary text-white text-uppercase"
                                        type="submit">Update</button>
                                <button class="btn btn-warning text-white text-uppercase"
                                        type="reset">Reset</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '#mytextarea'
        });
    </script>
</section>
</body>
</html>