<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="admin/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<section>
    <div class="container mt-5">
        <div class="page-inner no-page-title">
            <!-- start page main wrapper -->
            <div id="main-wrapper">
                <div class="row">
                    <!-- Blog -->
                    <div  class="col-lg-7 col-xl-8 mt-3">
                        <div class="main-box no-header clearfix">
                            <div class="main-box-body clearfix">
                                <div class="table-responsive">
                                    <table class="table user-list">
                                        <thead>
                                        <tr>
                                            <th><span>Name</span></th>
                                            <th class="text-center"><span>Email</span></th>
                                            <th class="text-center"><span>Phone</span></th>
                                            <th class="text-center"><span>Address</span></th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="h :${hospitals}">
                                            <td>
                                                <span th:text="${h.name}" class="label label-default">Email</span>
                                            </td>
                                            <td class="text-center">
                                                <span th:text="${h.email}" class="label label-default">Email</span>
                                            </td>
                                            <td class="text-center">
                                                <span th:text="${h.phone}" class="label label-default">Phone</span>
                                            </td>
                                            <td class="text-center">
                                                <span th:text="${h.zilla}" class="user-subhead">Zilla</span>
                                            </td>
                                            <td style="width: 20%;">
                                                <a href="#" class="table-link text-warning">
                                                        <span class="fa-stack">
                                                            <i class="fa fa-square fa-stack-2x"></i>
                                                            <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                </a>
                                                <a th:href="@{'/admin/edit-hospital/'+${h.id}}" class="table-link text-info">
                                                    <span class="fa-stack">
                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                </a>
                                                <a th:href="@{'/admin/delete-hospital/'+${h.id}}" class="table-link danger">
                                                    <span class="fa-stack">
                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                        <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                </a>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="pagination-wrap mt-3">
                            <!-- Pagination -->
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li th:if="${currentPage != 0}" class="page-item">
                                        <a class="page-link" th:href="@{'/admin/hospital/'+${currentPage - 1}}" href="#">Previous</a>
                                    </li>

                                    <li th:classappend="${currentPage== i - 1?'active':''}"
                                        th:each="i :${#numbers.sequence(1,totalPage)}" class="page-item">
                                        <a class="page-link" th:href="@{'/admin/hospital/'+${i - 1}}" href="#">
                                            <span th:text="${i}"></span>
                                        </a>
                                    </li>

                                    <li th:if="${currentPage+1 != totalPage}" class="page-item">
                                        <a class="page-link" th:href="@{'/admin/hospital/'+${currentPage + 1}}" href="#">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!-- End Blog -->
                    <div class="col-lg-12 col-xl-4 mt-3">
                        <div class="card">
                            <div class="body search">
                                <form action="">
                                    <div class="input-group m-b-0">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-search"></i></span>
                                        </div>
                                        <input th:value="${keyword}" name="keyword" required="required" type="search" class="form-control" placeholder="Search...">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="card card-white grid-margin">
                            <div class="card-heading clearfix text-center">
                                <h4 class="card-title">Add Hospital</h4>
                                <form th:action="@{/admin/process-hospital}" th:object="${hospitals}" method="post" enctype="multipart/form-data">
                                    <!-- name -->
                                    <div class="input-group mt-3">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fab fa-adn"></i>
                                            </div>
                                        </div>
                                        <input required type="text" id="name" name="name"
                                               placeholder="Enter name here" class="form-control" />
                                    </div>
                                    <!-- phone -->
                                    <div class="input-group mt-3">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fa fa-phone"></i>
                                            </div>
                                        </div>
                                        <input required type="text" id="phone" name="phone"
                                               placeholder="Enter phone number Here" class="form-control" />
                                    </div>
                                    <!-- Email -->
                                    <div class="input-group mt-3">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fa fa-envelope"></i>
                                            </div>
                                        </div>
                                        <input required type="email" id="email" name="email"
                                               placeholder="Enter email Here" class="form-control" />
                                    </div>
                                    <!-- google map -->
                                    <div class="input-group mt-3">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fa fa-location-arrow"></i>
                                            </div>
                                        </div>
                                        <input required type="url" id="google_location" name="google_location"
                                               placeholder="Enter google location Here" class="form-control" />
                                    </div>
                                    <!-- Division -->
                                    <div class="input-group mt-3">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fa fa-address-book"></i>
                                            </div>
                                        </div>
                                        <input required type="text" id="division" name="division"
                                               placeholder="Enter division Here" class="form-control" />
                                    </div>
                                    <!-- Zilla -->
                                    <div class="input-group mt-3">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fa fa-address-book"></i>
                                            </div>
                                        </div>
                                        <input required type="text" id="zilla" name="zilla"
                                               placeholder="Enter zilla Here" class="form-control" />
                                    </div>
                                    <!-- thana -->
                                    <div class="input-group mt-3">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fa fa-address-book"></i>
                                            </div>
                                        </div>
                                        <input required type="text" id="thana" name="thana"
                                               placeholder="Enter thana Here" class="form-control" />
                                    </div>
                                    <!-- User description -->
                                    <div class="form-group mt-3">
									<textarea name="description" id="mytextarea"
                                              class="form-control" rows="10"
                                              placeholder="Enter Description here.."></textarea>
                                    </div>
                                    <!-- Button -->
                                    <div class="d-grid gap-2 mt-3">
                                        <button class="btn bg-primary text-white text-uppercase"
                                                type="submit">Add</button>
                                        <button class="btn btn-warning text-white text-uppercase"
                                                type="reset">Reset</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="card card-white grid-margin">
                            <div class="card-heading clearfix">
                                <h4 class="card-title">Some Info</h4>
                            </div>
                            <div class="card-body">
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis architecto.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Row -->
            </div>
            <!-- end page main wrapper -->
            <div class="page-footer">
                <p>Copyright © 2020 Evince All rights reserved.</p>
            </div>
        </div>
    </div>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '#mytextarea'
        });
    </script>
</section>
</body>
</html>