<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:fragment="layout(content)">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
            crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/blood.css}">
    <link rel="stylesheet" th:href="@{/css/user/profile.css}">
    <link rel="stylesheet" th:href="@{/css/edit_profile.css}">
    <link rel="stylesheet" th:href="@{/css/changepassword.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/member.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" th:href="@{/css/user/blog.css}">
    <link rel="stylesheet" th:href="@{/css/user/blog_details.css}">
    <link rel="stylesheet" th:href="@{/css/user/user.css}">
    <title th:text="${title}">Base html</title>
</head>
<body>
<!-- ======================================Navigation Bar================================================= -->
<header>
    <div class="container1">
        <input type="checkbox" name="" id="check">

        <div class="logo-container">
            <h3 class="logo">Smart</h3>
        </div>

        <div class="nav-btn">
            <div class="nav-links">
                <ul>
                    <li class="nav-link" style="--i: .6s">
                        <a th:href="@{/user/index}">Home</a>
                    </li>
                    <li class="nav-link" style="--i: .85s">
                        <a th:href="@{/user/blog/0}" href="#">Blog</a>
                    </li>
                    <li class="nav-link" style="--i: 1.1s">
                        <a th:href="@{/user/blood/0}">Blood</a>
                    </li>
                    <li class="nav-link" style="--i: 1.35s">
                        <a th:href="@{/user/member/0}">User</a>
                    </li>
                    <li class="nav-link" style="--i: 1.1s">
                        <a href="#">Service<i class="fas fa-caret-down"></i></a>
                        <div class="dropdown">
                            <ul>
                                <li class="dropdown-link">
                                    <a th:href="@{/user/hospital/0}">Hospital</a>
                                </li>
                                <li class="dropdown-link">
                                    <a th:href="@{/user/ambulance/0}">Ambulance</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-link" style="--i: 1.35s">
                        <a href="#">About</a>
                    </li>
                </ul>
            </div>

            <div class="log-sign" style="--i: 1.8s">
                <div class="d-inline-flex justify-content-center align-items-center align-top mt-2 mr-2">
                    <img th:src="@{'/image/'+${user.image}}" class="user-profile-image rounded-circle" alt=""  src="" style="object-fit: cover; height: 40px;width: 40px;"/>
                </div>
                <a th:href="@{/user/profile}" class="btn transparent"><span th:text="${user.name}"></span> </a>
                <a th:href="@{/logout}" class="btn solid">Logout</a>
            </div>
        </div>

        <div class="hamburger-menu-container">
            <div class="hamburger-menu">
                <div></div>
            </div>
        </div>
    </div>
</header>
<!-- End Navbar -->
<!--Error message-->
<div th:if="${session.message}" class="container  mt-5">

    <div th:classappend="${'alert-'+session.message.type}" class="alert alert-dismissible fade show"
         role="alert">
        <strong th:text="${session.message.content}"></strong>
        <button type="button" class="close" data-dismiss="alert"
                aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <th:block th:text="${#session.removeAttribute('message')}"></th:block>
</div>


<div th:replace="${content}"></div>
<!--Footer-->

<!--End Footer-->
<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
-->
<script th:src="@{/js/member.js}"></script>
<script th:src="@{/js/sidebar.js}"></script>
</body>
</html>