<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="user/base::layout(~{::section})">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <section>
        <div class="blog-single gray-bg">
            <div class="container mt-3">
                <div class="row align-items-start">
                    <div class="col-lg-8 mt-4">
                        <article class="article">
                            <div class="article-title">
                                <h2 th:text="${blog.title}">They Now Bade Farewell To The Kind But Unseen People</h2>
                                <div class="media">
                                    <div class="avatar">
                                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" title="" alt="">
                                    </div>
                                    <div class="media-body">
                                        <label>Rachel Roth</label>
                                        <span>26 FEB 2020</span>
                                    </div>
                                </div>
                            </div>
                            <div class="article-content">
                                <p th:utext="${blog.description}"></p>
                                <h4>Symptoms</h4>
                                <p th:utext="${blog.symptoms}"></p>
                                <h4>Solution</h4>
                                <p th:utext="${blog.solution}"></p>
                            </div>
                            <div class="nav tag-cloud">
                                <a href="#">Type</a>
                            </div>
                        </article>
                        <div class="contact-form article-comment">
                            <h4>Leave a Reply</h4>
                            <div>
                                <form th:action="@{/user/blogPost-Comment/{id}(id=${blog.id})}" method="post" action="">
                                    <div class="input-group flex-nowrap">
                                        <input type="text" class="form-control ps-3" name="text"
                                            placeholder="Write a comment ..." aria-label="Username"
                                            aria-describedby="addon-wrapping">
                                        <button class="btn btn-primary text-white" type="submit">Comment</button>
                                    </div>
                                </form>
                            </div>
                            <div th:each="bc :${blogComment}">
                                <div class="d-flex align-items-center">
                                    <img th:src="@{'/image/'+${bc.user.image}}"
                                        style="width: 50px; height: 50px; border-radius: 50%; object-fit: cover; border: 2px solid palevioletred;"
                                        title="" alt="">
                                    <h5 th:text="${bc.text}"
                                        class="ml-3 p-2 bg-light rounded text-dark mt-1 border w-100">
                                        bhbcv
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-4 blog-aside">
                        <!-- Author -->
                        <div class="widget widget-author">
                            <div class="widget-title">
                                <h3>Author</h3>
                            </div>
                            <div class="widget-body">
                                <div class="media align-items-center">
                                    <div class="avatar">
                                        <img src="https://bootdey.com/img/Content/avatar/avatar6.png" title="" alt="">
                                    </div>
                                    <div class="media-body">
                                        <h6>Hello, I'm<br> Rachel Roth</h6>
                                    </div>
                                </div>
                                <p>I design and develop services for customers of all sizes, specializing in creating
                                    stylish, modern websites, web services and online stores</p>
                            </div>
                        </div>
                        <!-- End Author -->
                        <!-- Trending Post -->
                        <div class="widget widget-post">
                            <div class="widget-title">
                                <h3>Trending Now</h3>
                            </div>
                            <div class="widget-body">

                            </div>
                        </div>
                        <!-- End Trending Post -->
                        <!-- Latest Post -->
                        <div class="widget widget-latest-post">
                            <div class="widget-title">
                                <h3>Latest Post</h3>
                            </div>
                            <div class="widget-body">
                                <div class="latest-post-aside media">
                                    <div class="lpa-left media-body">
                                        <div class="lpa-title">
                                            <h5><a href="#">Prevent 75% of visitors from google analytics</a></h5>
                                        </div>
                                        <div class="lpa-meta">
                                            <a class="name" href="#">
                                                Rachel Roth
                                            </a>
                                            <a class="date" href="#">
                                                26 FEB 2020
                                            </a>
                                        </div>
                                    </div>
                                    <div class="lpa-right">
                                        <a href="#">
                                            <img src="https://via.placeholder.com/400x200/FFB6C1/000000" title=""
                                                alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Latest Post -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>