<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="user/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<section>
    <main class="main">
        <div class="wrapper">
            <div class="card">
                <div class="container text-center d-inline-flex justify-content-center align-items-center align-top">
                    <img th:src="@{'/image/'+${user.image}}" class="user-profile-image rounded-circle" alt="Lock" style="height: 80px; width: 80px; object-fit: cover">
                </div>
                <div th:if="${param.error}" class="alert alert-danger">
                    Invalid Password
                </div>

                <form class="form" th:action="@{/user/change-password}" method="post">
                    <div class="form-group">
                        <input type="password" name="oldPassword" id="oldpassword" class="input-field" placeholder="Enter Old Password">
                    </div>
                    <div class="form-group">
                        <input type="password" name="newPassword" id="newpassword" class="input-field" placeholder="Enter New Password">
                    </div>
                    <div class="form-group">
                        <input type="submit" name="Change" class="input-submit" value="Change">
                    </div>
                </form>
            </div>
        </div>
    </main>
</section>
</body>
</html>