<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="user/base::layout(~{::section})">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <section>
        <header style="background-color: olive;">
            <div class="container mt-5">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="w-75 mx-auto mt-5">
                                        <h1 class="text-white">Use your Mask to protect your family</h1>
                                        <p class="text-white mt-3">Lorem ipsum dolor sit amet consectetur
                                            adipisicing
                                            elit. Sit dolores soluta natus quasi corporis, perspiciatis voluptate
                                            eveniet veritatis voluptatibus recusandae accusamus amet optio aut.
                                            Voluptatem, temporibus eos. Nostrum, dolorum adipisci.</p>
                                    </div>
                                </div>
                                <div class="col-md-6 mt-5 mb-4 text-center">
                                    <img style="width: 80%;" th:src="@{../image/covid.jpg}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="w-75 mx-auto mt-5">
                                        <h1 class="text-white">Use your Mask to protect your family</h1>
                                        <p class="text-white mt-3">Lorem ipsum dolor sit amet consectetur
                                            adipisicing
                                            elit. Sit dolores soluta natus quasi corporis, perspiciatis voluptate
                                            eveniet veritatis voluptatibus recusandae accusamus amet optio aut.
                                            Voluptatem, temporibus eos. Nostrum, dolorum adipisci.</p>
                                    </div>
                                </div>
                                <div class="col-md-6 mt-5 mb-4">
                                    <img style="width: 80%;" th:src="@{../image/covid.jpg}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="w-75 mx-auto mt-5">
                                        <h1 class="text-white">Use your Mask to protect your family</h1>
                                        <p class="text-white mt-3">Lorem ipsum dolor sit amet consectetur
                                            adipisicing
                                            elit. Sit dolores soluta natus quasi corporis, perspiciatis voluptate
                                            eveniet veritatis voluptatibus recusandae accusamus amet optio aut.
                                            Voluptatem, temporibus eos. Nostrum, dolorum adipisci.</p>
                                    </div>
                                </div>
                                <div class="col-md-6 mt-5 mb-4">
                                    <img style="width: 80%;" th:src="@{../image/covid.jpg}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </header>
        <main>
            <div class="container mt-5">
                <div class="row g-3 mt-5">
                    <div class="col-md-3">
                        <div class="card text-center  confrim bg-primary text-white">
                            <div class="mt-4">
                                <h1 id="confrim">564</h1>
                            </div>
                            <hr>
                            <div class="text-center mb-3">
                                <h4 class="">Confirmed</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card text-center death bg-danger text-white">
                            <div class="mt-4">
                                <h1 id="death">564</h1>
                            </div>
                            <hr>
                            <div class="text-center mb-3">
                                <h4 class="">Death</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card text-center recover bg-success text-white">
                            <div class="mt-4">
                                <h1 id="recover">564</h1>
                            </div>
                            <hr>
                            <div class="text-center mb-3">
                                <h4 class="">Recovered</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card text-center bg-info text-white">
                            <div class="mt-4">
                                <h1 id="active">564</h1>
                            </div>
                            <hr>
                            <div class="text-center mb-3">
                                <h4 class="">Active</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
    </section>
</body>

</html>