<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="user/base::layout(~{::section})">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <section>
        <div class="blog-single gray-bg">
            <div class="container mt-5">
                <div class="row align-items-start">
                    <div class="col-md-8 m-5px-tb">
                        <article class="article">
                            <div class="article-title">
                                <h2 th:text="${hospital.name}"></h2>
                            </div>
                            <div class="article-content">
                                <p th:utext="${hospital.description}"></p>
                                <!-- User Information Table -->
                                <div class="table-responsive mt-5">
                                    <table class="table table-user-information">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <strong><span
                                                            class="glyphicon glyphicon-asterisk text-primary"></span>Email</strong>
                                                </td>
                                                <td th:text="${hospital.email}" class="text-primary"></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong><span
                                                            class="glyphicon glyphicon-user  text-primary"></span>Phone</strong>
                                                </td>
                                                <td th:text="${hospital.phone}" class="text-primary"></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong><span
                                                            class="glyphicon glyphicon-cloud text-primary"></span>Division</strong>
                                                </td>
                                                <td th:text="${hospital.division}" class="text-primary"></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong><span
                                                            class="glyphicon glyphicon-cloud text-primary"></span>Zilla</strong>
                                                </td>
                                                <td th:text="${hospital.zilla}" class="text-primary"></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong><span
                                                            class="glyphicon glyphicon-bookmark text-primary"></span>Thana</strong>
                                                </td>
                                                <td th:text="${hospital.thana}" class="text-primary"></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong><span
                                                            class="glyphicon glyphicon-bookmark text-primary"></span>Google
                                                        Location</strong>
                                                </td>
                                                <td th:text="${hospital.google_location}" class="text-primary"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- End User Information Table -->
                            </div>
                        </article>
                        <div class="contact-form article-comment">
                            <h4>Leave a Reply</h4>
                            <div>
                                <form th:action="@{/user/hospital-Comment/{id}(id=${hospital.id})}" method="post"
                                    action="">
                                    <div class="input-group flex-nowrap">
                                        <input type="text" class="form-control ps-3" name="text"
                                            placeholder="Write a comment ..." aria-label="Username"
                                            aria-describedby="addon-wrapping">
                                        <button class="btn btn-primary text-white" type="submit">Comment</button>
                                    </div>
                                </form>
                            </div>
                            <div th:each="bc :${hospitalComment}">
                                <div class="d-flex align-items-center">
                                    <img th:src="@{'/image/'+${bc.user.image}}"
                                        style="width: 50px; height: 50px; border-radius: 50%; object-fit: cover; border: 2px solid palevioletred;"
                                        title="" alt="">
                                    <h5 th:text="${bc.text}"
                                        class="ml-3 p-2 bg-light rounded text-dark mt-1 border w-100">
                                        bhbcv
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 m-15px-tb blog-aside">
                        <!-- Trending Post -->
                        <div class="widget widget-post">
                            <div class="widget-title">
                                <h3>Trending Now</h3>
                            </div>
                            <div class="widget-body">

                            </div>
                        </div>
                        <!-- End Trending Post -->
                        <!-- Latest Post -->
                        <div class="widget widget-latest-post">
                            <div class="widget-title">
                                <h3>Other Hospital</h3>
                            </div>
                            <div th:if="${found}" class="widget-body">
                                <div th:each="h :${areaHospital}" class="latest-post-aside media">
                                    <div class="lpa-left media-body">
                                        <div class="lpa-title">
                                            <h5><a th:href="@{'/user/hospital-details/'+${h.id}}" href="#">
                                                    <h5 th:text="${h.name}"></h5>
                                                </a></h5>
                                        </div>
                                        <div class="lpa-meta">
                                            <a th:text="${h.zilla}" class="name" href="#">
                                                Rachel Roth
                                            </a>
                                            <a th:text="${h.thana}" class="date" href="#">
                                                26 FEB 2020
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div th:unless="${found}">
                                <div class="text-center mt-5 mb-2">
                                    <img th:src="@{/image/information.png}" style="width: 20%;" alt="">
                                </div>
                                <h5 class="text-center mb-3">No Hospital in your erea..</h5>
                            </div>
                        </div>
                        <!-- End Latest Post -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>