<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="user/base::layout(~{::section})">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <section>
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-4 mt-4">
          <div class="card p-3">
            <div class="mt-3 text-center">
              <img style="width: 150px; height: 150px; border-radius: 50%; object-fit: cover; border: 3px solid pink;"
                th:src="@{'/image/'+${member.image}}" src="" alt="">
              <h4 class="mt-2 text-success" th:text="${member.name}"></h4>
              <p class="mt-2" th:utext="${member.description}"></p>
              <div class="mb-1 mt-2">
                <button th:if="${avaliable}" class="btn btn-success w-100"><i
                    class="far fa-thumbs-up me-2"></i>Avaliable to
                  Donate Blood</button>
                <button th:unless="${avaliable}" class="btn btn-danger w-100"><i
                    class="far fa-thumbs-down me-2"></i>Unavaliable Untill <span th:text="${remainDate}"></span>
                  days</button>
              </div>
            </div>
            <hr class="text-success">
            <div>
              <table class="table table-borderless">

                <tbody>
                  <tr>
                    <th scope="row"><i class="fas fa-signature"></i></th>
                    <td>Full Name</td>
                    <td th:text="${member.name}">Otto</td>
                  </tr>
                  <tr>
                    <th scope="row"><i class="fas fa-briefcase"></i></th>
                    <td>Work</td>
                    <td th:text="${member.work}">Thornton</td>
                  </tr>
                  <tr>
                    <th scope="row"><i class="fas fa-at"></i></th>
                    <td>Email</td>
                    <td th:text="${member.email}">Thornton</td>
                  </tr>
                  <tr>
                    <th scope="row"><i class="fas fa-mobile-alt"></i></th>
                    <td>Phone</td>
                    <td th:text="${member.phone}">Thornton</td>
                  </tr>
                  <tr>
                    <th scope="row"><i class="far fa-address-book"></i></th>
                    <td>Address</td>
                    <td th:text="${member.address}">@twitter</td>
                  </tr>
                  <tr>
                    <th scope="row"><i class="fas fa-notes-medical"></i></th>
                    <td>Blood Group</td>
                    <td th:text="${member.blood_group}">@twitter</td>
                  </tr>
                  <tr>
                    <th scope="row"><i class="far fa-calendar-check"></i></th>
                    <td>Birth Date</td>
                    <td th:text="${member.bod}">@twitter</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-8 mt-4">
          <div>
            <nav class="card pt-2 pb-2 ps-4 pe-4">
              <div class="nav w-100 mx-auto d-flex justify-content-between" id="nav-tab" role="tablist">
                <a class="fw-bold active mt-1" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                  type="button" role="tab" aria-controls="nav-home" aria-selected="true"><i
                    class="fab fa-ioxhost me-2"></i>Post
                  Information</a>
                <p class="ms-2 me-2">|</p>
                <a class="fw-bold mt-1" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                  type="button" role="tab" aria-controls="nav-profile" aria-selected="false"><i
                    class="far fa-user me-2"></i>Member
                  Information</a>
                <p class="ms-2 me-2">|</p>
                <a class="fw-bold mt-1" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"
                  type="button" role="tab" aria-controls="nav-contact" aria-selected="false"><i
                    class="fas fa-user-nurse me-2"></i>Doner Information</a>
              </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <div th:unless="${bPost}" th:each="p :${member.bloodPosts}" class="card single_post">
                  <div class="body">
                    <div class="row">
                      <div class="col-md-10">
                        <h3 class="text-success" th:text="${p.title}"></h3>
                      </div>
                      <div class="col-md-2">
                        <button th:if="${p.status}" class="btn btn-sm btn-success"><i
                            class="fas fa-clipboard-check me-1"></i>Managed</button>
                        <button th:unless="${p.status}" class="btn btn-sm btn-outline-success"><i
                            class="fas fa-hourglass-half me-1"></i>Active</button>
                      </div>
                    </div>

                    <p th:utext="${p.description}"></p>
                  </div>
                  <div class="footer">
                    <div class="actions">
                      <a th:href="@{'/user/blood-post-details/'+${p.id}}" href="javascript:void(0);"
                        class="btn btn-outline-secondary btn-sm">Continue Reading</a>
                    </div>
                    <ul class="stats">
                      <li><a href="javascript:void(0);">General</a></li>
                      <li><a href="javascript:void(0);" class="fa fa-heart">28</a></li>
                      <li><a href="javascript:void(0);" class="fa fa-comment">128</a></li>
                    </ul>
                  </div>
                </div>
                <div th:if="${bPost}" class="card p-5">
                  <div class="text-center">
                    <img th:src="@{/image/information.png}" style="width: 20%;" alt="">
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div th:unless="${dRequest}" th:each="b :${member.bloodPosts}">
                  <div th:each="bd :${b.doners}" class="card p-2">
                    <div class="row">
                      <div class="col-md-2 text-center">
                        <img th:src="@{'/image/'+${bd.user.image}}" class="mt-1" src=""
                          style="height: 60px; width: 60px; border: 2px solid palevioletred; border-radius: 50%; object-fit: cover;"
                          alt="">
                      </div>
                      <div class="col-md-8">
                        <h5 th:text="${bd.bloodPost.title}" class="text-success">Title</h5>
                        <div class="row">
                          <div class="col-md-5">
                            <div class="d-flex align-items-center">
                              <h6><i class="fas fa-user"></i></h6>
                              <p th:text="${bd.user.name}" class="ms-2">Name</p>
                            </div>
                          </div>
                          <div class="col-md-2">
                            <div class="d-flex align-items-center">
                              <h6><i class="fas fa-briefcase-medical"></i></h6>
                              <p th:text="${bd.user.blood_group}" class="ms-2">Blood Group</p>
                            </div>
                          </div>
                          <div class="col-md-5">
                            <div class="d-flex align-items-center">
                              <h6><i class="fas fa-map-marker-alt"></i></h6>
                              <p th:text="${bd.user.address}" class="ms-2">Address</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-2 text-center">
                        <div class="d-flex flex-column">
                          <a th:href="@{'/user/blood-post-details/'+${bd.bloodPost.id}}" type="button"
                            class="btn btn-outline-info btn-sm">View</a>
                          <button th:if="${bd.status}" type="button"
                            class="btn btn-success btn-sm mt-1">Accepted</button>

                          <button th:unless="${bd.status}" type="button"
                            class="btn btn-warning btn-sm mt-1">Requested</button>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div th:if="${dRequest}" class="card p-5">
                  <div class="text-center">
                    <img th:src="@{/image/information.png}" style="width: 20%;" alt="">
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</body>

</html>