<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="user/User-profile::layout(~{::section})">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
</head>

<body>
	<section>
		<div th:each="p :${posts}" class="card p-3">
			<div class="d-flex justify-content-between align-items-center mb-1">
				<div>
					<h4 th:text="${p.title}" class="text-success">Title</h4>
					<p th:text="${p.zilla}">Address</p>
				</div>
				<div>
					<a th:href="@{'/user/update-post/'+${p.id}}" title="Edit" type="button" class="btn btn-outline-info btn-sm"><i
							class="fas fa-pen-square"></i></a>
					<a th:href="@{'/user/delete/'+${p.id}}" type="button" title="Delete" class="btn btn-outline-danger btn-sm"><i
							class="far fa-trash-alt"></i></a>
				</div>
			</div>
			<p th:utext="${p.description}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi molestiae modi
				dolor voluptates asperiores
				blanditiis, quaerat facere ab hic autem?</p>
			<div>
				<a th:href="@{'/user/blood-post-details/'+${p.id}}" type="button"
					class="btn btn-outline-info btn-sm">Continue Reading</a>
			</div>
		</div>
		<!-- Pagination -->
		<nav aria-label="Page navigation example">
			<ul class="pagination">
				<li th:if="${currentPage != 0}" class="page-item">
					<a class="page-link" th:href="@{'/user/my-blood-post/'+${currentPage - 1}}" href="#">Previous</a>
				</li>

				<li th:classappend="${currentPage== i - 1?'active':''}" th:each="i :${#numbers.sequence(1,totalPage)}"
					class="page-item">
					<a class="page-link" th:href="@{'/user/my-blood-post/'+${i - 1}}" href="#">
						<span th:text="${i}"></span>
					</a>
				</li>

				<li th:if="${currentPage+1 != totalPage}" class="page-item">
					<a class="page-link" th:href="@{'/user/my-blood-post/'+${currentPage + 1}}" href="#">Next</a>
				</li>
			</ul>
		</nav>
		<script>
			$(document).ready(() => {
				$('.item').removeClass('active');
				$('#post-link').addClass('active');
			});
		</script>
	</section>
</body>

</html>