<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/gif" sizes="16x16" th:href="@{/image/logo.png}" href="">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
		integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
		crossorigin="anonymous" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
		integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
		crossorigin="anonymous" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
		integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
		crossorigin="anonymous" />
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/css/blood.css}">
	<link rel="stylesheet" th:href="@{/css/user/profile.css}">
	<link rel="stylesheet" th:href="@{/css/edit_profile.css}">
	<link rel="stylesheet" th:href="@{/css/changepassword.css}">
	<link rel="stylesheet" th:href="@{/css/user/blog.css}">
	<link rel="stylesheet" th:href="@{/css/user/blog_details.css}">
	<link rel="stylesheet" th:href="@{/css/user/user.css}">
	<link rel="stylesheet" th:href="@{/css/user/hospital.css}">
	<link rel="stylesheet" th:href="@{/css/user/hospital_details.css}">
	<link rel="stylesheet" th:href="@{/css/user/member_details.css}">
	<title th:text="${title}">Base html</title>
</head>

<body>
	<!-- ======================================Navigation Bar================================================= -->
	<nav class="navbar navbar-expand-lg  navbar-dark bg-primary fixed-top">
		<div class="container-fluid">
			<img class="mr-2" src="" th:src="@{/image/bg.jpg}" alt=""
				style="height: 40px; width: 40px; object-fit: cover; border-radius: 50%; border: 2px solid pink;" />
			<a th:href="@{/user/index}" class="navbar-brand" href="#">Online
				Hospital Managment</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-uppercase" id="nav" style="color: white">
					<li class="nav-item"><a th:href="@{/user/index}" class="nav-link text-white" aria-current="page"
							href="#">Home</a>
					</li>
					<li class="nav-item"><a th:href="@{/user/blog/0}" id="blog" class="nav-link text-white"
							href="#">Blog</a></li>
					<li class="nav-item"><a th:href="@{/user/blood/0}" class="nav-link text-white" href="#">Blood</a>
					</li>
					<li class="nav-item"><a th:href="@{/user/member/0}" class="nav-link text-white" href="#">Member</a>
					</li>
					<li class="nav-item dropdown"><a class="nav-link dropdown-toggle text-white" href="#"
							id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Service
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li><a th:href="@{/user/hospital/0}" class="dropdown-item " href="#">Hospital</a></li>
							<li><a th:href="@{/user/ambulance/0}" class="dropdown-item " href="#">Ambulance</a></li>
							<li>
								<hr class="dropdown-divider">
							</li>
							<li><a class="dropdown-item" href="#">Something else
									here</a></li>
						</ul>
					</li>
					<li class="nav-item"><a class="nav-link text-white" href="#" tabindex="-1"
							aria-disabled="true">About</a></li>
				</ul>
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-uppercase">
					<img class="mr-2" src="" th:src="@{'/image/'+${user.image}}" alt=""
						style="height: 40px; width: 40px; object-fit: cover; border-radius: 50%; border: 2px solid pink;" />
					<li class="nav-item dropdown"><a th:text="${user.name}"
							class="dropdown-toggle text-white btn btn-outline-danger"
							style="border-radius: 50px; width: 100%; color: white;" href="#" id="navbarDropdown"
							role="button" data-bs-toggle="dropdown" aria-expanded="false"> Service </a>
						<ul class="dropdown-menu p-2" aria-labelledby="navbarDropdown">
							<div class="mx-auto text-center  mt-2">
								<img src="" th:src="@{'/image/'+${user.image}}" alt=""
									style="height: 80px; width: 80px; object-fit: cover; border-radius: 50%; border: 2px solid pink;" />
								<p class="mt-1 text-success" th:text="${user.name}"></p>
							</div>
							<li>
								<hr class="dropdown-divider">
							</li>
							<li><span class="d-flex align-items-center"><i class="fas fa-id-badge"></i><a
										th:href="@{/user/profile}" class="dropdown-item" href="#">Profile</a></span>
							</li>
							<li><span class="d-flex align-items-center"><i class="fas fa-pen-square"></i><a
										th:href="@{/user/update-profile}" class="dropdown-item " href="#">Edit
										Profile</a></span>
							</li>

							<li><span class="d-flex align-items-center"><i class="fas fa-sign-out-alt"></i><a
										th:href="@{/logout}" class="dropdown-item " href="#">Logout</a></span></li>

						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- ======================================End navbar================================================= -->
	<!--Error message-->
	<div id="close" style="position: absolute; z-index: 1; right: 5px;" th:if="${session.message}" class="w-25">
		<div th:classappend="${'alert-'+session.message.type}" class="alert alert-dismissible fade show mt-3"
			role="alert">
			<div class="d-flex justify-content-between align-items-center">
				<div class="d-flex align-items-center">
					<div>
						<h1><i class="fas fa-info-circle"></i></h1>
					</div>
					<div class="ml-3">
						<strong class="text-uppercase" th:text="${session.message.type}"></strong>
						<p th:text="${session.message.content}"></p>
					</div>
				</div>
				<div>
					<button onclick="closeBtn()" type="button" class="close" data-dismiss="alert" aria-label="Close">
						<h3 aria-hidden="true">&times;</h3>
					</button>
				</div>
			</div>
		</div>
		<th:block th:text="${#session.removeAttribute('message')}"></th:block>
	</div>
	<div class="container mt-5">
		<div class="row">
			<div class="col-md-3 mt-4">
				<div class="card text-center p-3">
                        <div class="mt-3">
                            <img style="width: 50%; border-radius: 50%; object-fit: cover; border: 3px solid pink;"
                                th:src="@{'/image/'+${user.image}}" src="" alt="">
                            <h4 class="mt-2 text-success" th:text="${user.name}"></h4>
                            <p class="mt-2" th:utext="${user.description}"></p>
                        </div>
                        <div>
                            <a th:href="@{/user/profile}" class="text-decoration-none" href="">
                                <h4 class="d-flex align-items-center pl-4 profile-link bg-info">
                                    <i class="fas fa-user text-white"></i>
                                    <p class="ml-3 fw-bold mt-2 text-white text-decoration-none">My Profile</p>
                                </h4>
                            </a>
                            <a th:href="@{/user/password}" class="text-decoration-none" href="">
                                <h4 class="d-flex align-items-center pl-4 profile-link">
                                    <i class="fas fa-unlock-alt"></i>
                                    <p class="ml-3 mt-2 fw-bold text-decoration-none">Change Password</p>
                                </h4>
                            </a>
                            <a th:href="@{/user/my-blood-post/0}" class="text-decoration-none" href="">
                                <h4 class="d-flex align-items-center pl-4 profile-link">
                                    <i class="fab fa-microblog"></i>
                                    <p class="ml-3 mt-2 fw-bold text-decoration-none">My Post</p>
                                </h4>
                            </a>
                            <a th:href="@{/user/blood-donate-request}" class="text-decoration-none" href="">
                                <h4 class="d-flex align-items-center pl-4 profile-link">
                                    <i class="fas fa-swatchbook"></i>
                                    <p class="ml-3 mt-2 fw-bold text-decoration-none">B Donate Request</p>
                                </h4>
                            </a>
                        </div>
                    </div>
			</div>
			<div class="col-md-9 mt-4">
				<div th:replace="${content}"></div>
			</div>
		</div>
	</div>

	<!-- Footer -->
	<footer class="text-center text-white mt-5" style="background-color: #0a4275;">
		<!-- Grid container -->
		<div class="container p-4 pb-0">
			<!-- Section: CTA -->
			<section class="">
				<p class="d-flex justify-content-center align-items-center">
					<span class="me-3">Register for free</span>
					<button type="button" class="btn btn-outline-light btn-rounded">
						Sign up!</button>
				</p>
			</section>
			<!-- Section: CTA -->
		</div>
		<!-- Grid container -->

		<!-- Copyright -->
		<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
			© 2020 Copyright: <a class="text-white" href="https://mdbootstrap.com/">Online Hospital Management</a>
		</div>
		<!-- Copyright -->
	</footer>
	<!-- Footer -->
	<script>
		function closeBtn() {
			document.getElementById('close').style.display = 'none';
		}
	</script>
	<script>
		// Get the container element
		var btnContainer = document.getElementById("nav");

		// Get all buttons with class="btn" inside the container
		var btns = btnContainer.getElementsByClassName("nav-link");

		// Loop through the buttons and add the active class to the current/clicked button
		for (var i = 0; i < btns.length; i++) {
			btns[i].addEventListener("click", function () {
				var current = document.getElementsByClassName("active");
				current[0].className = current[0].className.replace(" active", "");
				this.className += " active";
			});
		}
	</script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
		crossorigin="anonymous"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>

	<!-- Option 2: Separate Popper and Bootstrap JS -->
	<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
-->
	<script th:src="@{/js/member.js}"></script>
</body>

</html>