<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="user/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog</title>
</head>
<body>
<section>
    <div id="main-content" class="blog-page">
        <div class="container mt-5">
            <div class="row clearfix">
                <div class="body search mt-4">
                    <form action="">
                        <div class="input-group m-b-0">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-search"></i></span>
                            </div>
                            <input th:value="${keyword}" name="keyword" required="required" type="search" class="form-control" placeholder="Search...">
                        </div>
                    </form>
                </div>
                <div th:each="u :${users}" class="col-md-6 col-xl-3">
                    <div class="card m-b-30">
                        <div class="card-body row">
                            <div class="col-6">
                                <a href=""><img th:src="@{'/image/'+${u.image}}" src="" alt="" class="img-fluid rounded-circle w-60" style="object-fit: cover; width: 80px; height: 80px"></a>
                            </div>
                            <div class="col-6 card-title align-self-center mb-0">
                                <h5 th:text="${u.name}">Emma A. Main</h5>
                                <p th:text="${u.work}" class="m-0">Graphics Designer</p>
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Blood Group : <P th:text="${u.blood_group}"></li>
                            <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Address : <P th:text="${u.address}"></li>
                            <li class="list-group-item"><i class="fa fa-phone float-right"></i>Phone : <P th:text="${u.phone}"></P></li>
                        </ul>
                        <div class="card-body">
                            <div class="float-right btn-group btn-group-sm">
                                <a th:href="@{'/user/member-details/'+${u.id}}" href="#" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit"><i class="far fa-eye"></i> </a>
                            </div>
                            <ul class="social-links list-inline mb-0">
                                <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook-f"></i></a></li>
                                <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Pagination -->
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li th:if="${currentPage != 0}" class="page-item">
                            <a class="page-link" th:href="@{'/user/member/'+${currentPage - 1}}" href="#">Previous</a>
                        </li>

                        <li th:classappend="${currentPage== i - 1?'active':''}"
                            th:each="i :${#numbers.sequence(1,totalPage)}" class="page-item">
                            <a class="page-link" th:href="@{'/user/member/'+${i - 1}}" href="#">
                                <span th:text="${i}"></span>
                            </a>
                        </li>

                        <li th:if="${currentPage+1 != totalPage}" class="page-item">
                            <a class="page-link" th:href="@{'/user/member/'+${currentPage + 1}}" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(() => {
            $('.item').removeClass('glow');
            $('#member').addClass('glow');
        });
    </script>
</section>
</body>
</html>