.bg-primary{
    background: #0a4275 !important;
}
body {
    background-image: linear-gradient(to right, #1b5f59, #1ca267);
}
#name {
    font-family: 'Oxygen', sans-serif;
    font-size: 24px;
}
.nav-link {
	margin-right: 3px;
}
.nav-link:hover {
	background-color: rgba(131, 141, 233, 1);
	border-radius: 50px;
}
.profile-link {
    padding: 5px;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}
.profile-link:hover {
    background-color: gainsboro;
}
@media only screen and (max-width: 600px) {
    #log1 {
        margin-top: 15px;
    }
    .log2 {
        text-align: center;
    }
}
