.bg-primary{
    background: #0a4275 !important;
}
body {
    background: url("../image/body-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#name {
    font-family: 'Oxygen', sans-serif;
    font-size: 24px;
}
.nav-link {
	margin-right: 3px;
}
.nav-link:hover {
	background-color: rgba(131, 141, 233, 1);
	border-radius: 50px;
}
.glow {
	background-color: rgba(131, 141, 233, 1);
	border-radius: 50px;
}
.profile-link {
    padding: 5px;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}
.profile-link:hover {
	background-color: #e9ecef;
}
.link-active {
    color: white;
    background: linear-gradient(
335.64deg,#ff589b -19.22%,#ff136f 118.87%)!important;
}
.link-active p {
	color: white;
}
.active {
border-bottom: 3px solid pink;
color: green;
}

.service:hover {
	background: pink;
    transform: scale(1.1, 1.1);
}

@media only screen and (max-width: 600px) {
    #log1 {
        margin-top: 15px;
    }
    .log2 {
        text-align: center;
    }
}
